body {
    background-color: floralwhite;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: darkblue;
}

h2 {
    font-size: 32px;
    color: dodgerblue;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 20px;
}

body ul {
    margin-bottom: 25px;
}

body ul li{
    font-size: 20px;
    padding-top: 5px;
}

dt {
    font-size: 24px;
    font-style: italic;
}

.dd {
    font-size: 20px;
}

.seal {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-top: 10px;
}

.images {
    height: 500px;
    width: 700px;
}

.contact {
    text-align: center;
}
